body {
    background-color: #c7c7c7;
}

.container {
    padding-top: 10px;
    max-width: 600px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-bottom-more {
    padding-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 10px;
}
